<%= semantic_form_for [:admin, @article], builder: ActiveAdmin::FormBuilder do |f| %>
  <fieldset class="inputs">
    <ol>
      <%= f.input :name, :as => :string %>
      <%= f.input :category_id, as: :select, collection: Category.tree_type_order.map { |c| [c.name, c.id] } %>
      <%= f.input :sentence, :as => :ckeditor %>
      <%= f.input :image, :as => :file %>
      <%= f.input :title, :as => :string %>
      <%= f.input :meta_keyword, :as => :string %>
      <%= f.input :meta_description , :as => :text %>
    </ol>
  </fieldset>

  <fieldset class="actions">
    <ol>
      <li><%= f.submit "保存" %></li>
      <li class="cancel"><%= link_to("取り消す", admin_articles_path)%></li>
    </ol>
  </fieldset>
<% end %>

<script>
</script>
