<div class='container'>
  <div class='content'>
    <div class='form-head'>
      <h1 class= 'xx-large'>お問い合わせ:内容確認</h1>
      <div class='sentence'>
        <p>下記の入力内容に間違いがないかご確認ください。</p>
      </div>
    </div>
    <%= form_with(model: @contact, url: contacts_path, local: true) do |f| %>
      <div class='form-inputs'>
        <div>
          <p>
          <%= f.label :full_name %>
          <%= @contact.full_name %>
          <%= f.hidden_field :full_name %>
          </p>
        </div>
        <div>
          <p>
          <%= f.label :email %>
          <%= @contact.email %>
          <%= f.hidden_field :email %>
          </p>
        </div>
        <div>
          <p>
          <%= f.label :title %>
          <%= @contact.title %>
          <%= f.hidden_field :title %>
          </p>
        </div>
        <div>
          <p>
          <%= f.label :message %>
          <%= simple_format(@contact.message) %>
          <%= f.hidden_field :message %>
          </p>
        </div>
      </div>
      <div class='form-buttons'>
        <%= f.submit '内容を修正する' , name: 'back', class: 'btn-stitch small gray' %>
        <%= f.submit '送信する', class: 'btn-stitch small'  %>
      </div>
    <% end %>
  </div>
</div>

<%= content_for :right_content do %>
  <%#= @right_content.each do |rc| %>
    <%= render "/blog/common/banner", banner: @right_banner if @right_banner %>
    <%= render "/blog/right_side/list_type1", contents:@new_articles if @new_articles %>
    <%= render "/blog/right_side/categories", contents:@categories if @categories %>
  <%# end %>
<% end %>

<%= content_for :left_content do %>
  <%= render "/blog/common/banner", banner: @left_banner if @left_banner %>
<% end %>
