<div class='container'>
  <div class='content'>
    <h1 class= 'x-large'><span class= 'xxx-large'><%= @category.present? ? @category.name : '全て' %></span>の記事一覧</h1>
    <!-- TODO fix -->
    <%= page_entries_info(@articles) %>
    <a href="<%= path_to_prev_page(@articles) %>">前へ</a>
    <a href="<%= path_to_next_page(@articles) %>">次へ</a>
  </div>
</div>
<% @articles.each do |article| %>
  <div class='container'>
    <%= link_to blog_article_path(article.id) do %>
      <div class='content'>
        <article class='article-item type2'><!--画像無:type1,画像有:type2-->
          <div class='article-blog-header'>
            <h2 class='article-blog-title'><%= article.title %></h2>
            <div class='article-blog-created-at'><%= article.created_at %></div>
          </div>
          <div class='article-blog-body'>
            <!-- <div class='img-box'><img src="http://www.alicesoft.com/rance10/common/download/bnr_300x200b.jpg"></div>-->
            <div class='img-box'><img src="http://widemonitor.websozai.jp/1600x900/river/page/photo/photo_018.jpg"></div>
            <div class='sentence'> <%= simple_format(article.sentence) %> </div>
          </div>
          <div class="read_more">もっと見る→</div>
        </article>
      </div>
    <% end %>
  </div>
<% end %>

<%= paginate @articles %><!-- TODO fix -->

<%= content_for :right_content do %>

  <%#= @right_content.each do |rc| %>
    <%= render "/blog/right_side/list_type1", contents:@new_articles  %>
    <%= render "/blog/right_side/categories", contents:@categories %>
    <%# end %>

<% end %>

<%= content_for :left_content do %>
<% end %>
