<div class='container'>
  <div class='content'>
    <article class='article-full'>
      <div class='article-blog-header'>
        <h1 class='article-blog-title'><%= @article.title %></h1>
        <div class='article-blog-created-at'><%= simple_time(@article.created_at) %></div>
      </div>
      <div>
        <div class='article-blog-body'> <%= simple_format(@article.sentence) %> </div>
      </div>
    </article>
    <%= link_to "<#{@article.previous.title}", blog_article_path(@article.previous.id) if @article.previous %>
    <%= link_to "一覧", blog_articles_path %>
    <%= link_to "#{@article.next.title}>", blog_article_path(@article.next.id) if @article.next %>
  </div>
</div>

<%= content_for :right_content do %>

  <%= render "/blog/common/banner", banner: @right_banner %>
  <%= render "/blog/right_side/list_type1", contents:@new_articles  %>
  <%= render "/blog/right_side/categories", contents:@categories %>

<% end %>

<%= content_for :left_content do %>
  <%= render "/blog/common/banner", banner: @left_banner %>
<% end %>
