<div class='container'>
  <div class='content'>
    <article class='article-full'>
      <div class='article-blog-header'>
        <h1 class='article-blog-title'><%= @article.name %></h1>
        <div class='article-blog-created-at'><%= simple_time(@article.created_at) %></div>
      </div>
      <div>
        <div class='article-blog-body'> <%= simple_format(@article.sentence) %> </div>
      </div>
    </article>
    <%= link_to "<#{@article.previous.name}", article_path(@article.content.url, @article.previous.id) if @article.previous %>
    <%= link_to "一覧", articles_path(@article.content.url) %>
    <%= link_to "#{@article.next.name}>", article_path(@article.content.url, @article.next.id) if @article.next %>
  </div>
</div>

<%= content_for :right_content do %>

  <%= render "/blog/common/banner", banner: @right_banner if @right_banner %>
  <%= render "/blog/right_side/list_type1", contents:@new_articles if @new_articles %>
  <%= render "/blog/right_side/categories", contents:@categories if @categories%>

<% end %>

<%= content_for :left_content do %>
  <%= render "/blog/common/banner", banner: @left_banner if @left_banner %>
<% end %>
