<!DOCTYPE html>
<html>
  <head>
    <meta charset="ushf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= yield :stylesheet_a %>
    <%= yield :script_a %>
  </head>

  <body>
    <header>
      <div class='header-container'>
        <div class="header-left">
          <nav class='flex-square-item navibutton'><i class='fa fa-bars fa-2x'></i></nav>
          <a href="#" class='flex-item large'>CONTENT1</a>
          <a href="#" class='flex-item large'>CONTENT1</a>
          <a href="#" class='flex-item large'>CONTENT1</a>
        </div>
        <div class="header-right">
          <div class='flex-square-item'><i class='fa fa-envelope fa-2x'></i></div>
        </div>
        <%=link_to '', root_path, class:"web-title"%>
      </div>
    </header>

    <div class='main'>
      <div class='top-wrapper'>
      </div>
      <div class='main-wrapper'>
        <nav class='menu-wrapper'>
        </nav>
        <div class='content-wrapper'>
          <!--
            <div class='headline-wrapper'>
            </div>
          -->
          <div class='front-wrapper'>
            <div class='blog-front-container'>
              <%= yield %>
            </div>
          </div>
          <nav class='right-wrapper'>
            <div class='blog-right-container'>
              <div class='blog_data_area'>
                <!--TODO fix-->
              </div>
              <div class='advertising'>
                <a href="http://www.alicesoft.com/rance10/" title="ランス10" target="_blank"><img src="http://www.alicesoft.com/rance10/common/download/bnr_300x200b.jpg" width="300" height="250" alt="ランス10"></a>
              </div>
              <%= yield :right_content %>
            </div>
          </nav>
        </div>
        <nav class='left-nav-wrapper'>
          <div class='blog-left-container'>
            <div class='advertising'>
              <a href="http://www.gungnir.co.jp/innocentgrey/" target="_blank"><img src="http://www.gungnir.co.jp/innocentgrey/link/kara2_banner_a4.jpg" alt="Innocent Greyが贈るサイコミステリィAVG第6弾「虚ノ少女」2013年2月8日発売！" border=0></a>
            </div>
            <%= yield :left_content %>
          </div>
        </nav>
      </div>
    </div>

    <footer>
      <div class='footer-container'>
        <div class='copyright-container'>
          <p class='copyright'>© name</p>
        </div>
      </div>
    </footer>
    <%= yield :script_b %>
  </body>
</html>
