<!DOCTYPE html>
<html>
  <head>
    <%= display_meta_tags(default_meta_tags) %> <!-- meta-tags -->
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= yield :stylesheet_a %>
    <%= yield :script_a %>
  </head>

  <body>
    <header>
      <div class='header-container'>
        <div class="header-left">
          <!-- mobilenavi -->
          <nav class='flex-square-item mobile_hanbager_nav'>
            <div id="nav-toggle">
              <span></span>
              <span></span>
              <span></span>
            </div>
            <div id="nav-content">
              <ul class="nav-links">
                <% @contents.each do |c| %>
                  <li><%= link_to c.name, c.url, class: '' %></li>
                <% end %>
                <li><a href="#">products</a></li>
                <li><a href="#">media</a></li>
                <li><a href="#">contact us</a></li>
              </ul>
            </div>
          </nav>
          <!-- navi -->
          <% @contents.each do |c| %>
            <%= link_to c.name, c.url, class: 'flex-item large' %>
          <% end %>
        </div>
        <div class="header-right">
          <%= link_to '主について(開発中)', blog_root_path, class: 'flex-item large' %>
          <div class='flex-square-item'><%= link_to(content_tag(:i, '', class: 'fa fa-envelope fa-2x'), new_contact_path, class: 'max-link') %></div>
        </div>
        <!-- title -->
        <%=link_to '', root_path, class:"web-title", style:"background-image:url(#{@basic_info.header_logo.present? ? @basic_info.header_logo : 'url(logo.png)' })" %>
      </div>
    </header>
    <div class='main'>
      <%= content_for?(:content) ? yield(:content) : yield %>
    </div>
    <footer>
      <div class='footer-container'>
        <div class='copyright-container'>
          <p class='copyright'><%= @basic_info.copyright %></p>
        </div>
      </div>
    </footer>
    <%= yield :script_b %>
  </body>
</html>
